<!--Nav bar-->
<nav class="page__menu menu">
    <ul class="menu__list r-list">
        <li class="menu__group"> <img class="icon" src="../../assets/Icon/icon.png" width="56" height="56"></li>
        <li class="menu__group"><a routerLink="/index" class="menu__link r-link text-underlined">TOP</a></li>
        <li class="menu__group"><a routerLink="/bms" class="menu__link r-link text-underlined">BMS</a></li>
        <li class="menu__group"><a routerLink="/sabun" class="menu__link r-link text-underlined">SABUN</a></li>
        <li class="menu__group"><a routerLink="/blog" class="menu__link r-link text-underlined">BLOG</a></li>
        <!-- <li class="menu__group"><a routerLink="/pic" class="menu__link r-link text-underlined">PIC</a></li> -->
        <li class="menu__group"><a routerLink="/tool" class="menu__link r-link text-underlined">TOOL</a></li>
        <li class="menu__group"><a routerLink="/link" class="menu__link r-link text-underlined">LINK</a></li>
    </ul>
</nav>