<div class="container">
  <div class="textContainer">
    <h3>お世話になってる人のサイト集とか</h3>

    <table>
      <tr>
        <th><a href="https://paraphrohn.hateblo.jp/">paraphrohn’s diary</a></th>
        <td>フレン・シーフォだ！</td>
      </tr>
      <tr>
        <th><a href="http://9domu46i.com/">空読無 白眼 資料館</a></th>
        <td>
          空読無さんのサイト、BGAとか新作BMS情報でお世話になってます。<br />サイトのレイアウトとかが似てるけどパクったわけじゃないです収斂進化です。
        </td>
      </tr>
      <tr>
        <th><a href="http://yaruki0.sakura.ne.jp/">Nageyari Software</a></th>
        <td>Bluvelさんのサイト、BMSエディタとか譜面でお世話になってます。</td>
      </tr>
      <tr>
        <th>
          <a href="https://sr-morph-sp.tumblr.com/">雌雄モザイクアート</a>
        </th>
        <td>Morphさんのサイト、BGAとか描いたりコンピとかを開催してます。</td>
      </tr>
      <tr>
        <th><a href="https://nasashiki.web.fc2.com/">Cubic Cosmic</a></th>
        <td>面白い譜面を作るピコピコ系がお得意なNASAさんのサイト。</td>
      </tr>
      <tr>
        <th><a href="http://nkiankw.net/index.html">極薄彩色</a></th>
        <td>電子系ジャンルマジで何でも作れるNakaithさんのサイト。<br />QuadrupolarのアレンジBMSを物凄い速度で作ってくれました。</td>
      </tr>
      <tr>
        <th><a href="http://djs.nobody.jp/">Studio Skyhigh</a></th>
        <td>ロック系が好きなKanata S.さんのサイト。<br />無16コンピでMMMMをアレンジしてくれました</td>
      </tr>
      <tr>
        <th><a href="https://livrenoir.web.fc2.com/">LivreNoir</a></th>
        <td>ロキナさんのサイト。サークル名のかっこよさでは負けたくない相手。</td>
      </tr>
      <tr>
        <th><a href="https://kagiusagi.official.jp/index.html">かぎうさば</a></th>
        <td>かぎうさぎさんのサイト。<br />オススメ曲はBinary Method Sequencer（BMS化されてない）（泣けるぜ）</td>
      </tr>
      <tr>
        <th><a href="https://hitkey.nekokan.dyndns.info/">doubledepth</a></th>
        <td>BMS関係情報知りたければここに来れば大体OK、読み物としても楽しい</td>
      </tr>
      <tr>
        <th><a href="http://srdbms.otodo.net/">BMSサイトとか</a></th>
        <td>
          難易度表の保管が欲しければここに来れば大体OK、読み物としても楽しい
        </td>
      </tr>
      <tr>
        <th><a href="http://yaritaihoudie.free.fr/index.html">やりたい放DIE!</a></th>
        <td>
          AYhazさんのサイト、BMS界で一番自由な男。
          自由すぎてXからも難易度表からも自由。<br />earthrayの暗号のヒント教えてくれ。
        </td>
      </tr>
    </table>
  </div>
</div>
