<div class="container">
    <div class="textContainer">
        <h3>お世話になってる人のサイト集とか</h3>

        <table>
            <tr>
                <th><a href="https://paraphrohn.hateblo.jp/">paraphrohn’s diary</a></th>
                <td>フレン・シーフォだ！</td>
            </tr>
            <tr>
                <th><a href="http://9domu46i.com/">空読無 白眼 資料館</a></th>
                <td>BGAとか新作BMS情報でお世話になってます。サイトのレイアウトとかが似てるけどパクったわけじゃないです収斂進化です。</td>
            </tr>
            <tr>
                <th><a href="http://yaruki0.sakura.ne.jp/">Nageyari Software</a></th>
                <td>BMSエディタとか譜面でお世話になってます。</td>
            </tr>
            <tr>
              <th><a href="https://sr-morph-sp.tumblr.com/">雌雄モザイクアート</a></th>
              <td>BGAとか描いたりコンピとかを開催してます</td>
            </tr>
            <tr>
                <th><a href="https://nasashiki.web.fc2.com/">NASA's page</a></th>
                <td>一方的にすごく好きなNASAさんのサイト。</td>
            </tr>
            <tr>
                <th><a href="https://hitkey.nekokan.dyndns.info/">doubledepth</a></th>
                <td>BMS関係情報知りたければここに来れば大体OK、読み物としても楽しい</td>
            </tr>
            <tr>
                <th><a href="http://srdbms.otodo.net/">BMSサイトとか</a></th>
                <td>難易度表の保管が欲しければここに来れば大体OK、読み物としても楽しい</td>
            </tr>
        </table>
    </div>
</div>
