table {
    width: 100%;
    text-align: left;
}

table a {
    font-size: 24px;
    padding-right: 8px;
}

th {
    padding-top: 4px;
    padding-bottom: 4px;
}

.reverse{
  transform: scale(-1, 1);
  float: left;
}

.container {
  margin: auto;
  margin-top: 82px;
  size: 100%;
  display: grid;
  color: bisque;
  justify-content: safe center;
  grid-template-columns: minmax(600px, 1000px);
}
