<div class="container">
    <div class="textContainer">
        <h3>お世話になってる人のサイト集とか</h3>

        <table>
            <tr>
                <th><a href="https://paraphrohn.hateblo.jp/">paraphrohn’s diary</a></th>
                <td>タイピングとかlua譜面とかで名をはせてるフレン・シーフォ</td>
            </tr>
            <tr>
                <th><a href="http://9domu46i.com/">空読無 白眼 資料館</a></th>
                <td>BGAとか新作BMS情報でお世話になってる寄生生物</td>
            </tr>
            <tr>
                <th><a href="http://yaruki0.sakura.ne.jp/">Nageyari Software</a></th>
                <td>BMSエディタとか初期ギミック譜面でお世話になってる魔法幼女</td>
            </tr>
            <tr>
                <th><a href="https://rattoto10.web.fc2.com/">ratの差分置き場</a></th>
                <td>難易度表を管理して譜面を作るネズミ</td>
            </tr>
            <tr>
                <th><a href="http://kyotokara306km.at-ninja.jp/">ここは京都さんの実家</a></th>
                <td>良譜面作者、自分が言うのもなんだけど最近隠居気味？</td>
            </tr>
            <tr>
                <th><a href="https://nasashiki.web.fc2.com/">NASA's page</a></th>
                <td>チップチューンとギミック譜面が得意なアメリカ航空宇宙局</td>
            </tr>
            <tr>
                <th><a href="https://sr-morph-sp.tumblr.com/">雌雄モザイクアート</a></th>
                <td>コンピとかを開催してるイラストが上手なもち</td>
            </tr>
            <tr>
                <th><a href="http://ponytailrecord.com/">Ponytail Record</a></th>
                <td>ロックとかが好きな緑ポニテ</td>
            </tr>
            <tr>
                <th><a href="https://hitkey.nekokan.dyndns.info/">doubledepth</a></th>
                <td>BMS再生ソフトの情報知りたければここに来れば大体OK、読み物としても楽しい</td>
            </tr>
            <tr>
                <th><a href="http://srdbms.otodo.net/">BMSサイトとか</a></th>
                <td>難易度表の保管が欲しければここに来れば大体OK、読み物としても楽しい</td>
            </tr>
        </table>
    </div>
</div>
