.container {
    position: relative;
    margin: auto;
    margin-top: 82px;
    size: 100%;
    display: grid;
    color: bisque;
    justify-content: center;
    grid-template-columns: minmax(600px, 1000px);
}

h3 {
    text-align: center;
}

.textContainer {
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 1%;
    overflow: auto;
}