@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@500&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
html {
    height: 100%;
    margin: auto;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    background-image: url("../BG/ForestBG.png");
    background-size: 100%;
    background-repeat: repeat;
    background-position: 0% 35%;
    font-family: 'Zen Antique', serif;
}

h1 {
    text-align: center;
    text-shadow: #50ff9c6c 1px 1px 2px;
}

h3 {
    margin: 4px;
    font-size: 36px;
    font-family: 'Zen Antique', serif;
}

ul {
    list-style-type: none;
    padding-left: 14px;
}

hr {
    border: 0;
    height: 1px;
    background-color: gray;
}

.float {
    float: right;
}


/* A link that has not been visited */

a:link {
    color: #c28194;
}


/* A link that has been visited */

a:visited {
    color: #404937;
}


/* A link that is hovered on */

a:hover {
    color: red;
}


/* A link that is selected */

a:active {
    color: blue;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #80ff80 #008000;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #008000;
}

*::-webkit-scrollbar-thumb {
    background-color: #80ff80;
    border-radius: 10px;
    border: 3px none #ffffff;
}