<div class="container">
    <div class="textContainer">
        <h3>自作の簡易ツール群</h3>

        <table>
            <tr>
                <th><a href="/assets/Tools/bemuse2sound.zip">BEMUSE EXPORTER</a></th>
                <td>BEMUSEからBMSを引っ張り出すツール</td>
            </tr>
            <tr>
                <th><a href="/assets/Tools/MaxDPS.zip">秒間密度計算機</a></th>
                <td>ジェノサイド秒間密度ランキングで使った奴</td>
            </tr>
            <tr>
                <th><a href="/assets/Tools/BMScript.zip">BMSブラウジング便利スクリプト</a></th>
                <td>切れてるリンクを置換したり色々<br>過去の版はYouTubeとの相性が最悪なので再DL推奨</td>
            </tr>
        </table>
    </div>
</div>