<!--Grids-->
<div class="center">
    <div class="container">
        <div class="Introduction">
            <h3>ABOUT</h3>
            <hr>
            <img class="float" src="../../assets/Images/SelfPortrait.png" width="300" height="400"> 曲を作るときは暮狛、英語表記ならCureKoma、BMS差分を作るときはctc、
            <br> そして人からは「ちとつ」という最初に使っていた名義で呼ばれる事が多い人間です。
            <br> こうして見ると他人が名義をころころ変えていることに対してなにか言える立場に一切いない。
            <br><br> たまにチトセと間違って呼ばれますがちとつという名義は飼っていたウサギであるチトセの二世だからチトセツー略してちとつだったのであながち当たらずとも遠からずだったり。
            <br><br> BMSというか音ゲー全般の変な譜面を特に愛好しています、<br>クソという言葉はネガティブな意味が強めで好まないので癖というワードを使いがち。
            <br> それ以外では犬とゲームと音楽と料理と数学が好きですので、<br>その辺のオススメを教えられると簡単に好感度が上がります。
            <br> 基本的にとんでもなく雑食なので好きなものを投げていただければ大丈夫です。
            <br><br> ツイッターは右に、何かあればDMが開放されているのでそちらからお願いします。
            <br> YouTubeは<a href="https://www.youtube.com/channel/UCp1H8gNcKDSAApsWLtPFE_g?sub_confirmation=1">こちら</a>、基本的にはBMS動画と差分動画を上げていく予定です。
            <br> SoundCloudは<a href="https://soundcloud.com/ctc-ctc-310720965">こちらから</a>、もっと色々アップしなきゃですね。
            <br><br> ちなみに画像は自画像を置く予定の場所に仮置きしている<a href="https://paraphrohn.hateblo.jp/">paraphさん</a>に頂いた感謝してそうな南条光です、上手いよね。
        </div>
        <div class="Updates">
            <h3>UPDATES</h3>
            <hr>
            <ul id="UpdateContents">

            </ul>
        </div>
        <div class="Twitter">
            <div id="TwitterContainer">
                <a class="twitter-timeline" data-width="300" data-height="1000" data-theme="dark" href="https://twitter.com/cure_to_coma?ref_src=twsrc%5Etfw">Tweets by cure_to_coma</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="Copyright">
            ©2021 ∴∃
        </div>


    </div>
</div>