<!--Grids-->
<div class="container">
  <div class="Introduction">
    <h3>ABOUT</h3>
    <hr>
    <img class="float" src="../../assets/Images/SelfPortrait.png" width="300" height="400"> 曲を作るときは暮狛、英語表記ならKureComa、BMS差分を作るときはctc、
    <br> そして人からは「ちとつ」という最初に使っていた名義で呼ばれる事が多い人間です。
    <br> たまにチトセと間違って認識されますがちとつという名義はうちのうさぎのチトセにあやかって二番目だからチトセツー、略してちとつだったのであながち当たらずとも遠からずだったり。
    <br> ctcは自分がチトセの綴りをchitoceと描いていたのでそれの母音抜き表記です、例のアレより前から使ってたので許してください。
    <br> そしてBMS界隈に既にチトセさんとChitoseさんとmtcさんが存在して紛らわしかったのでBMSを作るにあたって暮狛という名義を増やしました。
    <br><br> BMSというか音ゲー全般の変な譜面を特に愛好しています、<br>クソという言葉はネガティブな意味が強めで好まないので癖というワードを使いがち。
    <br> それ以外では犬とゲームと音楽と料理と数学と現代アートが好きです。<br>それらについてのいい感じの情報を教えられると簡単に好感度が上がります。
    <br><br> ツイッターは<a href="https://twitter.com/cure_to_coma">&#x40;cure_to_coma</a>、blueskyは<a href="https://bsky.app/profile/curecoma.bsky.social">curecoma</a>まで。
    <br> Discordも同じくcure_to_comaでアカウントを持っているのでそちらからどうぞ。
    <br> YouTubeは<a href="https://www.youtube.com/channel/UCp1H8gNcKDSAApsWLtPFE_g?sub_confirmation=1">こちら</a>、基本的にはBMS動画と差分動画を上げていく予定です。
    <br> SoundCloudは<a href="https://soundcloud.com/ctc-ctc-310720965">こちらから</a>、もっと色々アップしなきゃですね。
    <br><br> ちなみに画像は自画像を置く予定の場所に仮置きしている<a href="https://paraphrohn.hateblo.jp/">paraphさん</a>に頂いた感謝してそうな南条光です、上手いよね。
  </div>
  <div class="Updates">
    <h3>UPDATES</h3>
    <hr>
    <ul id="UpdateContents">

    </ul>
  </div>
  <div class="Copyright">
    ©2023 ∴∃
  </div>
</div>
