/* MODAL STYLES
-------------------------------*/

jw-modal {
    /* modals are hidden by default */
    display: none;
    .jw-modal {
        /* modal container fixed across the whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* z-index must be higher than .jw-modal-background */
        z-index: 500;
        /* enables scrolling for tall modals */
        overflow: auto;
        &-body {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &-background {
            /* modal background fixed across the whole screen */
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            /* semi-transparent black */
            background-color: #000;
            opacity: 0.5;
            /* z-index must be below .jw-modal and above everything else */
            z-index: 400;
            backdrop-filter: blur(10px);
            /* Add the blur effect */
        }
    }
}

body.jw-modal-open {
    /* body overflow is hidden to hide the main scrollbar when the modal window is open */
    overflow: hidden;
}